/* =========================
  Base body text
========================= */
  
  body {
	font-family: "Open Sans", sans-serif;
    font-size: 12pt;
    line-height: 1.5;
  }
  
  h1,h2,h3,h4,h5,h6{
  	font-family: Georgia, serif;
  }

/* =========================
  Title block
========================= */
  
  h1.title {
    color: #FFFFFF;
    font-size: 3.5rem;
    font-weight: 700;
    line-height: 1.2;
    margin-bottom: 0.3rem;
  }

/* Author line */
  .subtitle {
    color: #FFFFFF;
    font-size: 1.15rem;
    margin-bottom: 2.5rem;
  }

/* Council Logo */
#header::before {
  content: "";
  display: block;

  width: 180px;
  height: 80px;

  background-image: url("data-council-logo.png");
  background-size: contain;
  background-repeat: no-repeat;

  margin-bottom: 1rem;
}

.quarto-title-banner {
  min-height: 500px;

  background-size: contain;
  background-repeat: no-repeat;
  background-position: center center;
  
  background-color: rgba(0,0,0,.4);
  background-blend-mode: multiply;
}

.quarto-title-banner .quarto-title-block {
  position: relative;
  z-index: 2;
}

/* Hide date if RStudio inserts blank space */
  .date {
    display: none;
  }

/* =========================
  Leaflet Widgets
========================= */
.leaflet-container {
  max-width: 672px;
  margin-left: 0;
  margin-right: auto;
}

/* =========================
  Footnotes / citations
========================= */
  
  a.footnote-ref,
a[href^="#fn"] {
  text-decoration: none;
  font-size: 0.8em;
  vertical-align: super;
}

.footnote-hover {
  cursor: help;
  color: #2c5aa0;
}

section.footnotes {
  display: none;
}

section.footnotes,
#quarto-appendix {
  display: none;
}